---
import Layout from "../layouts/Layout.astro";
import QuestionsTable from "../reactComponents/QuestionsTable";
import H1 from "../reactComponents/H1";

const title = "Tabela z pytaniami z testów na prawo jazdy";
---

<Layout title={title}>
  <H1>{title}</H1>

  <QuestionsTable client:load />
</Layout>
