---
import Layout from "../layouts/Layout.astro";
import H1 from "../reactComponents/H1";

const title = "Regulamin";
---

<Layout title={title}>
  <H1>{title}</H1>

  <h2>Informacje ogólne</h2><p>
    Niniejszy regulamin (zwany dalej Regulaminem) normuje zasady i warunki korzystania z serwisu internetowego
    zlokalizowanego pod adresem poznajTesty.pl (zwanego dalej Serwisem) oraz warunki sprzedaży.
  </p><p>
    Bez żadnych zobowiązań, każda osoba może przeglądać zasoby Serwisu, lecz z chwilą dokonania jakichkolwiek czynności
    w tym Serwisie (na przykład poprzez: złożenie zamówienia), osoba taka staje się jego Użytkownikiem i oświadcza, iż
    zapoznała się z niniejszym Regulaminem oraz Polityką Prywatności, w pełni akceptuje zawarte w nich postanowienia i
    zobowiązuje się do ich bezwzględnego przestrzegania – w przeciwnym przypadku każdy, kto nie zgadza się z powyższym,
    powinien powstrzymać się od korzystania z usług Serwisu, a Administrator ma prawo odmówienia takiej osobie
    świadczenia usług i sprzedaży produktów oferowanych w Serwisie.
  </p><p>
    Do korzystania z Serwisu wymagane są standardowe urządzenia wraz z oprogramowaniem, pozwalające na przeglądanie
    stron WWW, a także posiadanie skrzynki pocztowej email oraz możliwości i umiejętności komunikowania się za
    pośrednictwem poczty elektronicznej.
  </p><p>
    Do prawidłowego funkcjonowania Serwisu wymagane jest posiadanie oprogramowania do przeglądania stron WWW
    obsługującego technologię plików ‘cookies’ – w przypadku niedostępności tej technologii w oprogramowaniu osób
    korzystających z Serwisu, może on funkcjonować niepoprawnie, za co Administrator nie ponosi odpowiedzialności,
    zalecając zainstalowanie lub odblokowanie w oprogramowaniu możliwości stosowania technologii plików ‘cookies’.
    Technologia plików ‘cookies’ polega na zapisywaniu w pamięci systemów informatycznych (komputery) osób
    odwiedzających Serwis plików z informacjami służącymi do personalizacji usług Serwisu dla danej osoby oraz z
    informacjami służącymi statystykom ruchu w Serwisie.
  </p><h2>Przedmiot</h2><p>
    Przedmiotem Serwisu jest dystrybucja różnego rodzaju aplikacji lub szkoleń. Są one dostarczane do użytkownika dzięki
    poczcie elektronicznej, w postaci nagrań wideo lub ebooków lub nagrań mp3 lub abonamentu do portalu poznajTesty.pl
  </p><p>
    Pod pojęciem ‘ebook’ należy rozumieć publikację elektroniczną w postaci pliku komputerowego, będącą odpowiednikiem
    publikacji treści dokonywanych w tradycyjnych formach (np. książka).
  </p><h2>Wykorzystanie serwisu</h2><ul>
    <li>1. Za pośrednictwem Serwisu Użytkownicy mogą nabywać oferowany produkt (Transakcja).</li><li>
      2. Do realizacji Transakcji konieczne jest złożenie zamówienia poprzez aktywowanie widocznych na stronie Serwisu
      odpowiednich opcji dostępnych przy ofercie produktu i dalsze postępowanie zgodnie z wskazówkami podawanymi
      zamawiającym na każdym etapie procedury składania zamówienia.
    </li><li>
      3. Warunkiem niezbędnym do skutecznego złożenia zamówienia jest podanie niezbędnych danych i informacji w Serwisie
      oraz wykonywanie innych czynności każdorazowo dokładnie opisanych na łamach Serwisu lub w korespondencji.
    </li><li>
      4. Każde zamówienie weryfikowane jest w sposób zautomatyzowany poprzez wysłanie wiadomości email na adres podany
      przez Użytkownika przy składaniu zamówienia. Otrzymanie wiadomości email informującej o pozytywnym statusie
      przyjęcia zamówienia do realizacji oznacza, iż zamówienie zostało złożone prawidłowo.
    </li><li>
      5. Zamówienia realizowane są po otrzymaniu przez Administratora należności uiszczanej dostępnymi w Serwisie
      kanałami płatności, tytułem zapłaty ceny.
    </li><li>
      6. Podstawowym sposobem dostawy zamówionego produktu jest pobranie przez Użytkownika kolejnych plików drogą
      teletransmisji poprzez łącze internetowe bezpośrednio do pamięci komputera przy pomocy którego następowało będzie
      pobieranie.
    </li><li>
      7. Zamawiający nie ma prawa udostępniać hiperłącza do zakupionego produktu innym osobom, a w przypadku
      prawidłowego pobrania lub udostępnienia innymi sposobami plików, uważa się zamówienie za zrealizowane. Podstawą do
      ustalenia, czy produkt został prawidłowo pobrany, jest tylko i wyłącznie zapis w systemie informatycznym Serwisu,
      że transmisja pliku zrealizowana została pomyślnie, bez względu na to, kto dokonał faktycznie pobrania poprzez
      link udostępniony zamawiającemu.
    </li><li>
      Dział B. Prawa zakupionego produktu 9. Nabywca nagrań mp3 i ebooka może użytkować go zgodnie z przeznaczeniem,
      czyli odtwarzać w elektronicznych urządzeniach, wprowadzać do pamięci komputera lub innych właściwych urządzeń w
      celu zapoznania się z treścią utworu, bez możliwości powielania plików produktu, kopiowania i wykorzystywania w
      sposób niedozwolony prawem jego treści w całości lub we fragmentach albo zmieniania jego struktury elektronicznej
      (np. format pliku) lub innego modyfikowania plików (np. usuwanie zabezpieczeń lub oznaczeń). Niedozwolone jest
      również dystrybuowanie takich plików, udostępnianie lub odtwarzanie publiczne, bez względu na cel i formę tych
      działań. Wszystko powyższe może być uzgodnione inaczej z Administratorem tylko w formie pisemnej, o ile odmienne
      warunki nie zostaną przewidziane dla danego konkretnego produktu lub pliku.
    </li><li>
      10. Administrator zezwala na sporządzenie jednej kopii zapasowej ebooka, nagrań mp3 oraz wideo na oddzielnym
      nośniku informacji elektronicznej, celem zabezpieczenia przed utratą oryginału, gdyż nie jest możliwym otrzymanie
      następnej kopii produktu, w przypadku jego utraty, poza możliwością ponownego jego zakupienia.
    </li><li>
      11. Każdy nabywający produkt zobowiązany jest dbać o to, aby żadne inne nieupoważnione osoby nie miały do niego
      dostępu w ten sposób, aby mogły go powielać, dystrybuować bez zgody Administratora albo w inny sposób niezgodny z
      zakresem udzielonych praw go wykorzystywać, gdyż w przypadku wykrycia takich sytuacji, Administrator może kierować
      roszczenia z tego tytułu względem znanego mu nabywcy produktu, z tytułu łamania praw do danego egzemplarza
      produktu.
    </li><li>
      12. Wszelkie nagrania mp3, wideo oraz ebooki udostępniane na łamach Serwisu – odpłatnie lub nieodpłatnie –
      podlegają ochronie przewidzianej w ustawie o prawie autorskim i prawach pokrewnych (Dz.U. 1994 Nr 24 poz. 83).
    </li>
  </ul><h2>Reklamacje i zwroty</h2><p>
    Wszelkie zakłócenia w funkcjonowaniu Serwisu, uwagi pod jego adresem i wszelkie inne sprawy związane z celem i
    przedmiotem Serwisu mogą być reklamowane przez Użytkowników poprzez zgłoszenie Administratorowi lub osobom pełniącym
    rolę opiekunów Serwisu lub Użytkownika, przesłane drogą elektroniczną na adres korespondencyjny Administratora:
    prawojazdy.pomoc@gmail.com
  </p><p>
    2. Zgłoszenia reklamacyjne będą na bieżąco rozpatrywane przez Administratora w terminie nie dłuższym niż 14 dni od
    otrzymania zgłoszenia reklamacyjnego, jednak Administrator zastrzega sobie prawo pozostawienia reklamacji bez
    odpowiedzi, jeżeli dotyczy ona dysfunkcji wynikających z nieznajomości Regulaminu, niezastosowania się przez
    Użytkownika do udzielanych wskazówek oraz informacji ukazujących się na bieżąco na łamach Serwisu.
  </p><p>
    5. Każdemu Użytkownikowi nabywającemu produkt za pośrednictwem Serwisu, służy prawo zwrotu zainwestowanej w produkt
    kwoty, jeżeli Użytkownik nie będzie zadowolony z produktu. Administrator zastrzega sobie prawo odmowy przyjęcia
    zwrotu w wyjątkowych sytuacjach, gdy poweźmie uzasadnione wątpliwości, iż dokonywany zwrot nosi cechy nadużycia
    prawa do zwrotu (wielokrotne zwroty, kupowanie wielu produktów po kolei i ich zwracanie itp.).
  </p><p>
    6. Zwrot produktów odbywa się poprzez wysłanie przez Użytkownika wiadomości do Administratora, w której Użytkownik
    oświadczy, iż ma zamiar skorzystać z gwarancji satysfakcji, podając swoje dane (imię i e-mail), nazwę produktu oraz
    datę i cenę zakupu. Dla skuteczności takiego zawiadomienia, koniecznym jest wysłanie emaila ze skrzynki pocztowej,
    która podana została przez Użytkownika przy składaniu zamówienia.
  </p><h2>Postanowienia końcowe</h2><p>
    1. Mimo dokładania wszelkich starań jakościowych i weryfikacyjnych, Administrator nie odpowiada w maksymalnie
    szerokim zakresie, jak tylko pozwalają na to obowiązujące przepisy prawa, za treści przekazywane i publikowane na
    łamach Serwisu przez Użytkowników oraz inne osoby, za ich prawdziwość, rzetelność oraz autentyczność wszelkich
    materiałów nie pochodzących od Administratora lub przez niego autoryzowanych.
  </p><p>
    2. Administrator nie odpowiada za zdarzenia i wydarzenia oraz ich skutki, jakie mogą mieć lub miały miejsce w
    świecie rzeczywistym w wyniku korzystania z Serwisu, stosowania się do treści zawartych w produkcie oraz w
    informacjach publikowanych na łamach Serwisu, o ile nie pochodzą one od Administratora lub innych osób działających
    w jego imieniu.
  </p><p>
    3. Administrator nie udostępni w żaden inny sposób, niż to wynika z celu Serwisu oraz zakresu udzielonych zgód i
    oświadczeń, informacji i danych o Użytkownikach jakimkolwiek innym podmiotom trzecim bez podstawy prawnej
    nakazującej Administratorowi takie działanie i zapewnia o podejmowaniu wszelkich starań, aby informacje te były
    strzeżone właściwie, a w szczególności w sposób przewidziany przepisami ustawy o ochronie danych osobowych i
    rozporządzeniami wydanymi na jej podstawie.
  </p><p>
    4. Administrator jako właściciel i zarządca Serwisu dołoży wszelkich starań, aby Serwis oraz wszystkie usługi
    udostępniane za jego pośrednictwem działały w sposób ciągły bez jakichkolwiek zakłóceń, jednakże Administrator nie
    ponosi żadnej odpowiedzialności za zakłócenia spowodowane siłą wyższą lub niedozwoloną ingerencją Użytkowników lub
    osób trzecich w struktury systemów informatycznych obsługujące Serwis.
  </p><p>
    5. Administrator zastrzega sobie prawo do czasowego całkowitego lub częściowego wyłączenia Serwisu w celu jego
    ulepszenia, dodawania usług lub przeprowadzania konserwacji, bez wcześniejszego uprzedzania o tym Użytkowników.
  </p><p>
    6. Administrator nie ponosi odpowiedzialności za utratę danych Serwisu zgromadzonych w systemach informatycznych
    Administratora, spowodowanych awarią sprzętu, dysfunkcją sieci Internet, utratą na skutek działania osób trzecich.
  </p><p>
    7. Administrator zastrzega sobie prawo do publikowania na łamach Serwisu, informacji o Użytkownikach, którzy w
    sposób uporczywy naruszają Regulamin lub w ten sam sposób podejmują działania sprzeczne z Regulaminem lub celem i
    charakterem Serwisu, albo działają na szkodę Administratora lub osób trzecich.
  </p><p>
    8. Administrator zastrzega sobie prawo do anonimowej publikacji treści kierowanych przez Użytkowników do zespołu
    obsługi Serwisu, a dotyczących kwestii związanych z funkcjonowaniem Serwisu (FAQ), udzielanymi poradami i innych, co
    do których Administrator uzna, że odpowiedzi na te treści warte są upublicznienia.
  </p><p>
    9. Zabronione jest bez zgody Administratora kopiowanie, powielanie lub jakiekolwiek inne wykorzystywanie w całości
    lub we fragmentach informacji, danych lub innych treści dostępnych na łamach Serwisu lub z niego pochodzących, za
    wyjątkiem przypadków dozwolonego użytku wynikających z ustawy o prawie autorskim i prawach pokrewnych (Dz.U. 1994 Nr
    24 poz. 83).
  </p><p>
    10. Administrator zastrzega sobie prawo do dokonania cesji w części lub w całości wszelkich swoich praw i obowiązków
    związanych z Serwisem.
  </p><p>
    11. Wszelkie postanowienia niniejszego Regulaminu mogą być w każdej chwili zmieniane przez Administratora, bez
    podawania przyczyn. Zmiany będą publikowane na bieżąco w postaci ujednoliconego tekstu Regulaminu na łamach Serwisu
    wraz z informacją o ich dokonaniu.
  </p><p>
    12. Po ukazaniu się na stronach Serwisu informacji o zmianach w Regulaminie, Użytkownik powinien niezwłocznie
    zapoznać się ze zmianami, gdyż zalogowanie lub jakakolwiek inna czynność w Serwisie, dokonane po takim ogłoszeniu
    jednoznaczne są z bezwarunkową akceptację nowej treści Regulaminu przez Użytkownika.
  </p><p>
    13. W przypadku nie zaakceptowania zmian w Regulaminie, Użytkownik powinien powstrzymać się od korzystania z
    Serwisu, a jeżeli jest stałym Użytkownikiem, dla którego zmiany Regulaminu mogą mieć znaczenie, powinien on o tym
    poinformować niezwłocznie Administratora.
  </p><p>
    14. Oświadczenie o nie zaakceptowaniu zmian w Regulaminie, pociągnie za sobą usunięcie Użytkownika z udziału we
    wszystkich aspektach stałego funkcjonowania w Serwisie.
  </p><p>
    15. Administrator dołożył wszelkich starań, aby zawarte w produkcie informacje były prawdziwe i rzetelne, ale
    wyłącza całkowitą odpowiedzialność za działanie produktu. Polityka prywatności Polityka prywatności serwisu
    poznajTesty.pl Korzystając w jakikolwiek sposób z serwisu znajdującego się pod adresem ‘poznajTesty.pl’, akceptujesz
    zasady zawarte w Polityce Prywatności znajdującej się na niniejszej stronie. Zastrzegamy sobie prawo do wprowadzania
    zmian w Polityce Prywatności. Każdą osobę korzystającą w jakikolwiek sposób z serwisu poznajTesty.pl obowiązuje
    aktualna Polityka Prywatności. Jakiekolwiek wprowadzane zmiany nie wpływają na podstawową zasadę: nigdy nie
    sprzedajemy i nie udostępniamy osobom trzecim danych personalnych czy adresowych uczestników naszego systemu. Zawsze
    masz prawo do zmiany swoich danych lub usunięcia z naszej bazy. Jeśli nie zgadzasz się z naszą Polityką Prywatności,
    proszę nie odwiedzaj serwisu poznajTesty.pl, nie rejestruj się w naszym systemie i nie udostępniaj nam żadnych
    danych dotyczących Twojej osoby. Dane Osobowe W czasie korzystania z serwisu poznajTesty.pl możesz zostać poproszony
    o podanie niektórych swoich danych osobowych poprzez wypełnienie formularza lub w inny sposób. Dane, o które
    będziesz proszony, to w większości przypadków imię i adres e-mail. W szczególnych przypadkach, możesz zostać
    poproszony o dokładniejsze dane, które będą niezbędne w celu realizacji zamówionej usługi. Niepodanie wymaganych
    danych zablokuje czynność, której te dane dotyczyły jeśli niepodane dane są wymagane do jej poprawnego wykonania.
    Niezapowiedziane Wiadomości Zastrzegamy sobie prawo do wysyłania niezapowiedzianych wiadomości osobom, których dane
    kontaktowe uzyskaliśmy dzięki działalności związanej ze stroną. Cookies (Ciasteczka) Serwis poznajTesty.pl
    wykorzystuje cookies, czyli małe pliki tekstowe wysyłane do komputera internauty, identyfikujące go w sposób
    potrzebny do uproszczenia lub umorzenia danej operacji. Cookies zapewniają także prawidłowe funkcjonowanie
    współpracy z partnerami serwisu i naliczanie odpowiednich prowizji partnerom. Warunkiem działania cookies jest ich
    akceptacja przez przeglądarkę i nie usuwanie ich z dysku. Pliki cookie i sygnalizatory WWW Używamy plików cookie
    (ciasteczek) do przechowywania informacji takich, jak Twoje osobiste ustawienia kiedy odwiedzasz nasz serwis. Może
    to obejmować możliwość zalogowania do niektórych funkcji serwisu, jak profil użytkownika, czy pola formularzy.
    Ponadto wyświetlamy pochodzące z zewnętrznych serwisów reklamy, aby utrzymać naszą stronę. Niektórzy z tych
    reklamodawców (np. Google poprzez program Google AdSense) mogą używać takich technologii jak pliki cookie, czy
    sygnalizatory WWW, co w momencie wyświetlania ich reklam na naszej stronie spowoduje przesłanie reklamodawcom
    informacji zawierających Twój adres IP, dostawcę Internetu, typ przeglądarki, z której korzystasz i w niektórych
    przypadkach informację o zainstalowaniu dodatku Flash. Na ogół jest to używane do wyświetlania użytkownikom reklam z
    ich okolicy (na przykład reklamy sklepów w Warszawie serwowane użytkownikowi ze stolicy) lub dobierania reklam na
    podstawie stron, które odwiedzili wcześniej (pokazywanie reklam firm spożywczych użytkownikowi, który często
    odwiedza strony kucharskie). Pliki cookie DoubleClick DART Ponadto możemy wykorzystywać pliki cookie DART, dla celów
    wyświetlania reklam przez system Google DoubleClick, który tworzy plik ciasteczka, kiedy odwiedzasz strony
    internetowe, używające systemu reklamowego DoubleClick (włączając w to niektóre reklamy Google AdSense). Ten plik
    cookie jest używany do prezentowania reklam dopasowanych do Twoich zainteresowań (”interest based targeting”).
    Reklamy dobierane będą na podstawie historii stron, które odwiedziłeś/aś (na przykład, jeśli przeglądałeś/aś strony
    o krakowskich zabytkach, wyświetlone zostaną reklamy o hotelach w Krakowie, nawet na witrynach o innych temacie jak
    piłka nożna). System DART wykorzystuje “informacje niepozwalające na indentyfikację użytkownika”. NIE śledzi on
    informacji osobistych, jak Twoje imię, adres e-mail, adres zamieszkania, numer telefonu, numer NIP, numery kont
    bankowych lub kart kredytowych. Możesz w każdej chwili wyłączyć ten system na tej stronie. Możesz zdezaktywować lub
    całkowicie wyłączyć pliki cookies na naszych stronach lub stronach naszych reklamodawców w opcjach swojej
    przeglądarki internetowej lub wybierając odpowiednią opcję w programach typu firewall (np. Norton Internet
    Security). Wyłączenie plików cookie może jednak spowodować niemożliwość pełnego wykorzystania opcji naszego serwisu.
    Poniżej przedstawiamy informację, jak zmienić ustawienia dotyczące cookies w najpopularniejszych przeglądarkach
    internetowych: Jeżeli używasz przeglądarki Google Chrome, to ustawienia dotyczące cookies możesz zmienić w
    ustawieniach. Jeżeli używasz przeglądarki Microsoft Internet Explorer, to ustawienia dotyczące cookies możesz
    zmienić w ustawieniach. Jeżeli używasz przeglądarki Mozilla Firefox, to ustawienia dotyczące cookies możesz zmienić
    w ustawieniach. Jeżeli używasz przeglądarki Opera, to ustawienia dotyczące cookies możesz zmienić w ustawieniach.
    Jeżeli używasz przeglądarki Safari, to ustawienia dotyczące cookies możesz zmienić w ustawieniach. Jeżeli korzystasz
    z innej przeglądarki, przejdź do sekcji “Pomoc” Twojej przeglądarki lub skontaktuj się z producentem przeglądarki w
    celu uzyskania informacji, jak zmienić ustawienia dotyczące cookies. Skrypty Trackingowe Serwis poznajTesty.pl
    korzysta z różnej maści systemów trackingowych np. Google Analytics, oraz narzędzia śledzenia konwersji
    Podsumowanie: 1. W serwisie poznajTesty.pl gromadzone są dane użytkowników takie jak adres email oraz imie. 2.
    Podanie tych danych jest dobrowolne. 3. Adres email podany przez użytkownika weryfikowany jest metodą double opt-in.
    4. Dane gromodzone są tylko i wyłącznie w celu umożliwienia kontaktowania się administratora strony poznajTesty.pl z
    użytkownikami i subskrybentami. 5. W każdym momencie można wycofać zgodę na otrzymywanie emaili od administratora
    strony poznajTesty.pl. Aby to zrobić wystarczy otworzyć email wysłany przez administratora i na jego końcu kliknąć w
    link który usunie dane użytkownika z bazy. 6. Emaile użytkowników NIE są udostępniane innym firmom.
  </p>
</Layout>
