---
 
export async function getStaticPaths() {
  const length = 3000
  const questions = Array.from({ length }, (_, i) => i+1).map(nr => {
    return {
          slug: `pytanie-${nr}`,
          text: `Pytanie nr ${nr}`,
          }
      }
  )
    
  return questions.map(({ slug,   text }) => {
    return {
      params: {  questions : slug },
      props: {   text },
    };
  });
}

const {   text } = Astro.props;
---
<html>
  <head>
    <title>{text}</title>
  </head>
  <body>
    <h1>{text}</h1>
    <p><a href="/question-2">question-2</a></p>
   
  </body>
</html>