---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import YesNoAnswer from "../reactComponents/YesNoAnswer.jsx";
import AbcAnswer from "../reactComponents/AbcAnswer.jsx";
import allQuestionsData from "../data/allQuestionsData";


export async function getStaticPaths() {
  return allQuestionsData.map((question, index) => {
    const newQuestion = {
      ...question,
      prevId: index > 0 ? allQuestionsData[index - 1].id : question.id,
      nextId:
        index < allQuestionsData.length - 1
          ? allQuestionsData[index + 1].id
          : question.id,
    };

    return {
      params: { questions: question.id },
      props: { question: newQuestion },
    };
  });
}

const { question } = Astro.props;
---

<Layout title={`${Astro.props.question.id}. ${Astro.props.question.text}`}>
  <!-- <YesNoAnswer client:visible /> -->

  <AbcAnswer client:visible question={question} />

  <!-- <div class="row">
    <div class="col">
      <pre>{JSON.stringify(Astro.props, null,2)}</pre>
    </div>
  </div> -->
</Layout>
