---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import YesNoAnswer from "../reactComponents/YesNoAnswer.jsx";
import AbcAnswer from "../reactComponents/AbcAnswer.jsx";
import { questions } from "../data/data";

export async function getStaticPaths() {
  const newQuestions = questions.map((question, nr) => {
    return {
      slug: `pytanie-${nr}`,
      ...question,
    };
  });

  return newQuestions.map((question) => {
    return {
      params: { questions: question.slug },
      props: { question },
    };
  });
}
---

<Layout title={Astro.props.question.text}>
  <div class="row">
    <div class="col">
      <pre>{JSON.stringify(Astro.props, null,2)}</pre>
    </div>
  </div>

  <YesNoAnswer client:visible />

  <AbcAnswer client:visible />
</Layout>
