---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Counter from "../reactComponents/Counter.jsx";
import { Year } from "../reactComponents/Counter.jsx";

export async function getStaticPaths() {
  const length = 10;
  const questions = Array.from({ length }, (_, i) => i + 1).map((nr) => {
    return {
      slug: `pytanie-${nr}`,
      nextSlug: `pytanie-${nr + 1}`,
      text: `Pytanie nr ${nr}`,
    };
  });

  return questions.map((question) => {
    return {
      params: { questions: question.slug },
      props: {question},
    };
  });
}

const { question } = Astro.props;

const clickedAnswer = "TAK..";

const year = Date.now();
---

<Layout title={question.text}>
 
  <div class="row">
    <div class="col">

<pre>{JSON.stringify(Astro.props, null,2)}</pre>

    </div> 
  </div>
 
</Layout>
