---
export async function getStaticPaths() {
  const questions = [
    {
      slug: "pytanie-1",
      title: "Astro Store",
      text: "Welcome to the Astro store!",
    },
    {
      slug: "pytanie-2",
      title: "Astro products",
      text: "We have lots of products for you",
    },
    {
      slug: "kat-a/pytanie-1",
      title: "The ultimate Astro handbook",
      text: "If you want to learn Astro, you must read this book.",
    },
  ];

  return questions.map(({ slug, title, text }) => {
    return {
      params: {  questions : slug },
      props: { title, text },
    };
  });
}

const { title, text } = Astro.props;
---
<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>{text}</p>
  </body>
</html>