---
import Layout from "../layouts/Layout.astro";
import apiData from "../data/api-data";
import { mapApiData } from "../utils/utils";
import type { ApiDataItem, QuestionPageData } from "../store/questions";

export async function getStaticPaths() {
  return mapApiData(apiData as ApiDataItem[]).map((q, index) => {
    const questionPageData: QuestionPageData = {
      ...q,
      slug: q.id,
      category: "b",
      prevSlug: index === 0 ? q.id : apiData[index - 1].id,
      nextSlug: index === apiData.length - 1 ? q.id : apiData[index + 1].id,
    };

    return {
      params: { question_slug: questionPageData.slug },
      props: { questionPageData },
    };
  });
}

const { id, text, prevSlug, nextSlug } = Astro.props.questionPageData;
---

<Layout>
  <p><a href={prevSlug}>poprzednie</a> | <a href={nextSlug}>następne</a></p>
  <h1>{id}. {text}</h1>

  <pre>{JSON.stringify( Astro.params, null,2)}</pre>
  <pre>{JSON.stringify( Astro.props, null,2)}</pre>
</Layout>
