---
import Layout from "../layouts/Layout.astro";
import CurrentYear from "../reactComponents/CurrentYear";
import {
  createBigObjectDataForInBuildTime,
  createQuestionUrl,
  getFullUrl,
  mapApiData,
} from "../utils/utils";

import apiData from "../data/api-data";
import { DEFAUTL_INITIAL_CURRENT_CATEGORY_VALUE } from "../settings/settings";
import { URLS } from "../urls/urls";

const bigData = createBigObjectDataForInBuildTime(apiData);
const { allCategories, allQuestions } = bigData;
---

<Layout>
  <div class="row mb-2">
    <div class="col-12 col-lg-6">
      <div class="row mb-2">
        <div class="col">
          <h1 class="display-3 fw-bold">
            Testy na prawo jazdy <CurrentYear client:visible />
          </h1>
          <p class="lead">
            Wszystkie pytania egzaminacyjne! Rozpocznij egzamin teoretyczny na
            prawo jazdy lub przeglądaj pytania testowe.
          </p>

          <div class="d-grid gap-2 mb-2">
            {
              allCategories.map((cat) => {
                const firstQuestionContainingCurrentCategory = mapApiData(
                  apiData
                ).find((q) => q.categories.includes(cat));

                if (!firstQuestionContainingCurrentCategory) {
                  return null;
                }

                return (
                  <a
                    href={getFullUrl(
                      createQuestionUrl(
                        firstQuestionContainingCurrentCategory,
                        cat
                      )
                    )}
                    class:list={[
                      "btn btn-sm",
                      {
                        "btn-primary":
                          cat === DEFAUTL_INITIAL_CURRENT_CATEGORY_VALUE,
                        "btn-secondary":
                          cat !== DEFAUTL_INITIAL_CURRENT_CATEGORY_VALUE,
                      },
                    ]}
                    role="button"
                  >
                    Rozpocznij naukę testów na prawo jazdy{" "}
                    <CurrentYear client:visible />, kategorii{" "}
                    {cat.toUpperCase()}
                  </a>
                );
              })
            }
          </div>
        </div>
      </div>

      <!-- ROW ROW  -->
      <div class="row mb-2 border">
        <p class="lead">
          <a href={URLS.DRIVING_LICENSE_CATEGIRIES}>
            Zmień domyślną kategorię pytań z testów na prawo jazdy jaką chcesz
            się uczyć!
          </a>
        </p>
      </div>

      <!-- ROW ROW  -->
      <div class="row mb-2 border">
        <p class="lead">
          Ostatnią aktualizację bazy pytań testowych zrobiłem w lutym <CurrentYear
            client:visible
          /> roku.
        </p>
      </div>

      <div class="row mb-2">
        <div class="col">
          <h2 class="display-5">
            Największa darmowa baza
            <span class="badge bg-warning text-dark">
              {allQuestions.length}
            </span>

            wszystkich pytań testowych na prawo jazdy wszystkich kategorii !!!
          </h2>

          <h3>
            <span> Dostępne kategorie to:</span>
            <strong class="small">
              {allCategories.join(", ").toUpperCase()}
            </strong>
          </h3>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <p>
            <strong>
              Kliknij poniżej i wybierz aktualną kategorię z testów na prawo
              jazdy której chcesz się teraz uczyć:
            </strong>
          </p>
          <div>
            {
              allCategories.map((cat) => {
                return (
                  <button
                    class="btn btn-outline-secondary p-1 me-1 mb-1"
                    type="button"
                  >
                    <strong> {cat} </strong>
                    <br />
                    <span class="small">
                      {" "}
                      {
                        allQuestions.filter((q) => q.categories.includes(cat))
                          .length
                      }{" "}
                      - pytań
                    </span>
                  </button>
                );
              })
            }
          </div>
        </div>
      </div>

      <!-- ROW ROW  -->
      <div class="row mb-2 border">wiersz</div>

      <!-- ROW ROW  -->
      <div class="row mb-2 border">wiersz</div>

      <!-- ROW ROW  -->
      <div class="row mb-2 border">wiersz</div>

      <!-- ROW ROW  -->
      <div class="row mb-2 border">wiersz</div>
    </div>

    <!-- RIGHT SIDEBAR  -->
    <div class="col-12 col-lg-6 border">
      <p>RIGHT SIDEBAR</p>

      <pre class="text-start">{JSON.stringify(bigData, null,2)}</pre>
    </div>
  </div>
</Layout>
