---
import Layout from "../layouts/Layout.astro";
import H1 from "../reactComponents/H1";

const title = "Kontakt";
---

<Layout title={title}>
  <H1>{title}</H1>
  <p class="lead">Skontaktuj się z nami w dowolnej sprawie!</p>

  <h2>Dane kontaktowe</h2>

  <p>www.poznaj-Testy.pl</p>

  <p>Tomasz Górecki - obsługa kursantów</p>

  <p>email kontaktowy: prawojazdy.pomoc@gmail.com</p>
</Layout>
