---
import Layout from "../layouts/Layout.astro";
import H1 from "../reactComponents/H1";

const title = "Polityka prywatności";
---

<Layout title={title}>
  <H1>{title}</H1>
  <p class="lead">Wkrótce...</p>
</Layout>
