---
const currentYear = new Date().getFullYear();
---

<span class="__current-year">{currentYear}</span>

<script>
  const elements = document.querySelectorAll(".__current-year");

  elements.forEach((el) => {
    el.innerHTML = "" + new Date().getFullYear();
  });
</script>
