---
const currentYear = new Date().getFullYear();
---

<span data-set-current-year class="__current-year">{currentYear}</span>

<script>
  const spanElementsToSetCurrentYear = document.querySelectorAll(
    "[data-set-current-year]"
  ) as NodeListOf<HTMLSpanElement>;

  spanElementsToSetCurrentYear.forEach((spanElement) => {
    spanElement.innerHTML = "" + new Date().getFullYear();
  });
</script>
